#pushPanel {
  display: none;
}

hr {
  border-width: 0;
}

.breadcrumbs {
  top: auto;
}

.admin-menu header {
  position: relative;
  z-index: 300;
}

.admin-menu .breadcrumbs-subnav {
  position: relative;
  top: 0;
}

.cke_contents_ltr.cke_editable {
  padding: 5px 15px;
  width: 1170px;
  margin: 0 auto;
}

.panels-ipe-editing .panels-ipe-region {
  float: none !important;
  margin: 0 !important;
}

.admin-menu section.main-section .breadcrumbs,
.admin-menu section.main-section .subnav,
.admin-menu section.main-section .subnav.sticky {
  top: auto;
  position: relative;
  z-index: 200;
}

.admin-menu section.main-section {
  margin-top: 40px;
}
.ctools-modal-content * {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.ctools-modal-content *:before,
.ctools-modal-content *:after {
  content: none;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.ctools-modal-content table {
  width: 100%;
}

.ctools-modal-content td,
.ctools-modal-content th {
  padding: 5px 10px;
}

.ctools-modal-content label,
input {
  float: none;
  *display: block;
  display: inline-block;
  vertical-align: top;
}

.ctools-modal-content .modal-content {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.ctools-modal-content .sticky-header {
  display: none;
}

.panels-section-column-categories .panels-categories-box {
  margin-bottom: 0;
}

#modal-content .widget-preview-title .content-type-button div {
  left: auto;
  float: right !important;
}

#modal-content fieldset.widget-preview legend {
  padding: 1px 0 0;
  height: 2em;
}

#modal-content .fieldset-wrapper {
  margin-top: 40px;
}

#modal-content fieldset legend {
  padding: 1px 0 0;
  height: 2em;
}

#modal-content input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}

#modalContent .panels-section-column-categories .content-type-button {
  background: #e9eaec;
  background-image: linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -o-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -moz-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -webkit-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -ms-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dbdcdf), color-stop(1, #f6f6f7));
  font: bold 11px/30px 'Open Sans', 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
  color: #333;
  text-decoration: none;
  margin-left: 10px;
  border-bottom: none;
  padding: 5px 10px 0 18px;
}

#modalContent .panels-section-column-categories .content-type-button img {
  background: none;
  border: 0 !important;
}

#modalContent .panels-section-column-categories .content-type-button a {
  color: #5b5b7a !important;
  background: none;
  moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: auto;
  padding: 0;
  *display: block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin: 0;
}

#modalContent .panels-add-content-modal a.panels-modal-add-category:hover,
#modalContent .panels-section-column-categories .content-type-button a:hover,
#modalContent .panels-add-content-modal a.panels-modal-add-category:focus,
#modalContent .panels-section-column-categories .content-type-button a:focus {
  background: none;
}

#modalContent .content-type-button div,
#modalContent .content-type-button span {
  float: none;
  *display: block;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  position: relative;
  top: 1px;
  margin: 0;
  padding: 0;
}
.ctools-modal-content .description {
  clear: both;
  margin-bottom: 20px;
}

@media(min-width: 1200px) {
  .container {
    width: 970px !important;
  }
}
