.invisible-fieldset {
  margin-bottom: 40p;
}
.invisible-fieldset > fieldset {
  border-width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.invisible-fieldset > fieldset > .fieldset-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}
div.ctools-modal-content #settings-form .search {
  margin-bottom: 20px;
}
div.ctools-modal-content #settings-form .search #node-search {
  margin-right: 10px;
}
div.ctools-modal-content #settings-form #node-table TR.empty-row TD {
  padding-left: 100px;
  padding: 10px;
  text-align: center;
  background-color: #efefef;
  color: #777;
}
div.ctools-modal-content #settings-form #node-table TR.empty-row TD strong {
  font-size: 14px;
}
div.ctools-modal-content #settings-form .drag-handle {
  display: inline-block;
  *display: block;
  zoom: 1;
  vertical-align: top;
  background: url(../img/draggable.png) no-repeat 6px 9px;
  margin: 0;
  background-position: 6px -14px;
  padding: 0 0 16px 16px;
  background-position: 0px -19px;
}
div.ctools-modal-content #settings-form .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
div.ctools-modal-content #settings-form .table > tbody > th,
div.ctools-modal-content #settings-form .table > tbody > td,
div.ctools-modal-content #settings-form .table > thead > th,
div.ctools-modal-content #settings-form .table > thead > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
div.ctools-modal-content #settings-form .table td .preview {
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
div.ctools-modal-content #settings-form .table-striped > tbody > tr:nth-child(odd) td,
div.ctools-modal-content #settings-form .table-striped > tbody > tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
div.ctools-modal-content #settings-form .table-bordered > thead > th,
div.ctools-modal-content #settings-form .table-bordered > tbody > td {
  border: 1px solid #ddd;
}
div.ctools-modal-content #settings-form input[type=text],
div.ctools-modal-content #settings-form input[type=password],
div.ctools-modal-content #settings-form textarea,
div.ctools-modal-content #settings-form select {
  width: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div.ctools-modal-content #settings-form select {
  height: 30px;
}
div.ctools-modal-content #settings-form input.small {
  width: 75px;
}
div.ctools-modal-content #settings-form input.large {
  width: 100%;
  box-sizing: border-box;
}
div.ctools-modal-content #settings-form textarea.large {
  width: 100%;
  box-sizing: border-box;
}
div.ctools-modal-content #settings-form input[type=button] {
  border: 1px solid #ccc;
  margin-bottom: .5em;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fafafa;
  background-image: linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -o-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -moz-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -webkit-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -ms-linear-gradient(bottom, #e9eaec 0%, #fafafa 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9eaec), color-stop(1, #fafafa));
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  padding: 0 13px 0;
}

.ui-autocomplete {
  z-index: 2000 !important;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  width: 300px !important;
  font-size: 12px !important;
  border-radius: 0px;
}
.ui-autocomplete li a {
  padding: 5px 10px;
  display: block;
}
.ui-autocomplete li a.ui-state-focus {
  border-width: 0;
  border-radius: 0 !important;
}

.ui-autocomplete-loading {
  background: white url(../img/spinner.gif) no-repeat right center !important;
  background-position: 97% !important;
}
img.empty {
  display: none;
}
